alembic
annotated-types
anyio
blinker
certifi
click
colorama
distro
exceptiongroup
Flask
Flask-Admin
Flask-Cors
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
greenlet
gunicorn
h11
httpcore
httpx
idna
itsdangerous
Jinja2
joblib
Mako
MarkupSafe
nltk
numpy
openai
packaging
pydantic
pydantic_core
python-dotenv
pytz
regex
scikit-learn
scipy
sniffio
SQLAlchemy
textblob
threadpoolctl
tqdm
typing_extensions
Werkzeug
WTForms
langchain
