<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <h2>Reset Password</h2>
    <form id="reset-password-form">
      <input type="hidden" id="token" value="{{ token }}" />
      <input
        type="password"
        id="new-password"
        placeholder="New Password"
        required
      />
      <input
        type="password"
        id="confirm-password"
        placeholder="Confirm Password"
        required
      />
      <button type="submit">Set New Password</button>
    </form>
    <p id="message"></p>

    <script>
      document
        .getElementById("reset-password-form")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          var token = document.getElementById("token").value;
          var newPassword = document.getElementById("new-password").value;
          var confirmPassword =
            document.getElementById("confirm-password").value;

          if (newPassword !== confirmPassword) {
            document.getElementById("message").textContent =
              "Passwords do not match";
            return;
          }

          fetch("/reset_password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ token: token, new_password: newPassword }),
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("message").textContent = data.message;
            })
            .catch((error) => {
              console.error("Error:", error);
              document.getElementById("message").textContent =
                "An error occurred. Please try again.";
            });
        });
    </script>
  </body>
</html>
